.env
/vendor/
**/writable/debugbar/
**/writable/logs/
**/writable/cache/
**/writable/session/
**/writable/uploads/
writable/debugbar/
writable/cache/
writable/session/
writable/uploads/
public/images/publish/announcements/*
public/images/publish/classes/*
public/images/storage/announcements/*
public/images/storage/classes/*
public/images/thumb/announcements/*
public/images/thumb/classes/*
!public/images/publish/.gitkeep
!public/images/storage/.gitkeep
!public/images/thumb/.gitkeep