
.ann_intro{
    cursor: default;
    position: relative;
    margin: 0px 24px 24px;
}

.ann_title{
    font-style: italic;
    text-transform: uppercase;
    font-size: 3em;
    background-color: #222;
    border: 2px solid #555;
    padding: 18px;
    color: #fff;
    margin: 0px auto;
}

.ann_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ann_info{
    display: flex;
    flex-direction: column;
    min-width: 33%;
    margin: 24px 0px;
    align-items: center;
}

.ann_card:hover img{
    transform: scale(0.95);
    transform-origin: center center;
}

.ann_card img{
    height: auto;
    transition: transform 0.3s ease;
}

.ann_info a{
    text-decoration: none;
    color: #222222;
}

.ann_card{
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    height: auto;
    padding: 0px;
}

.ann_details .tag{
    font-size: 10px;
    color: #01b5fc;
    text-transform: uppercase;
}

.ann_details .credits{
    font-size: 12px;
}
