.ann_title{
    font-style: italic;
    text-transform: uppercase;
    font-size: 3em;
    background-color: #222;
    border: 2px solid #555;
    padding: 16px;
    color: #fff;
    margin: 0px auto;
}

.ann_details .credits{
    font-size: 14px;
    color: rgb(84, 84, 84);
}

.ann_card h2{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 10px 10px 0px;
}

.ann_details_info{
    text-align: center;
    margin: 0px 14%;
}

.ann_details_info img{
    width: 100%;
    max-height: 100vh;
}

.ann_description{
    max-width: 800px;
    margin: 50px auto;
}

