
.ann_intro{
    cursor: default;
    position: relative;
    margin: 0px 24px 24px;
}

.ann_title{
    font-style: italic;
    text-transform: uppercase;
    font-size: 3em;
    background-color: #222;
    border: 2px solid #555;
    padding: 24px;
    color: #fff;
    margin: 0px auto;
}

.content{
    display: flex;
    justify-content: space-around;
}

.ann_list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.ann_info{
    display: flex;
    flex-direction: column;
    padding: 18px;
    align-items: center;
}

.ann_card{
    cursor: pointer;
    height: auto;
}

.ann_info a{
    text-decoration: none;
    color: #222222;
}

.ann_details .tag{
    font-size: 10px;
    color: #01b5fc;
    text-transform: uppercase;
}
.ann_details .credits{
    font-size: 12px;
}

.ann_card:hover img{
    transform: scale(0.95);
    transform-origin: center center;
}

.ann_card img{
    height: auto;
    transition: transform 0.3s ease;
}

.tags_list{
    display: flex;
    flex-direction: column;
}

.tags_list .tag_card{
    text-decoration: none;
    background-color: #222;
    border: 2px solid #555;
    color: #fff;
    padding: 16px 32px;
    width: 180px;
    height: 25px;
    margin: 12px 0px;
}

.tag_card h3{
    font-size: 22px;
    transition: font-size 0.3s ease;
}

.tag_card:hover h3{
    font-size: 20px;
}
