
.ann_intro{
    cursor: default;
    position: relative;
    display: block;
    text-align: center;
    margin: 0px 0px 24px;
}

.ann_title{
    font-style: italic;
    text-transform: uppercase;
    font-size: 6em;
    margin: 0px auto;
}

.ann_subtitle{
    font-style: italic;
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 0px auto;
}



.ann_description{
    max-width: 580px;
    margin: 12px auto;
}

.ann_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ann_card{
    cursor: pointer;
    width: 300px;
    text-decoration: none;
    height: auto;
    margin: 10px 50px;
    padding: 0px;
    background-color: #061C25;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s;
}

.ann_card:hover {
    background-color: #114d65;
}

.ann_card img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.ann_card h2{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 10px 10px 0px;
}

.ann_details_info{
    text-align: center;
    margin: 0px 14%;
}

.ann_details_info img{
    width: 100%;
    max-height: 100vh;
    margin-bottom: 10px;
}

.ann_intro{
    top: -175px;
    cursor: default;
    position: relative;
    display: block;
    text-align: center;
    margin: 0px 0px 24px;
}

.ann_subtitle{
    font-style: italic;
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 0px auto;
    color: #fff;
}

.ann_title{
    font-style: italic;
    text-transform: uppercase;
    font-size: 6em;
    margin: 0px auto;
    color: #fff;
}

.ann_description{
    max-width: 800px;
    margin: 50px auto;
}

