
.ann_intro{
    cursor: default;
    position: relative;
    margin: 0px 24px 24px;
}

.ann_title{
    font-style: italic;
    text-transform: uppercase;
    font-size: 3em;
    background-color: #061C25;
    border: 1px solid #222222;
    padding: 30px;
    color: #fff;
    margin: 0px auto;
}

.ann_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ann_info{
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: center;
}
.ann_info a{
    text-decoration: none;
    color: #222222;
}

.ann_card{
    cursor: pointer;
    text-decoration: none;
    height: auto;
    padding: 0px;
}

.ann_details .tag{
    font-size: 10px;
    color: #e5d04b;
    text-transform: uppercase;
}
.ann_details .credits{
    font-size: 12px;
}

.ann_card img{
    height: auto;
}
