.lobby{
    height: 100%;
    display: flex;
    margin: 0px 24px;
    flex-direction: column;
    justify-content: space-evenly;
}

.lobby .logo a{
    text-decoration: none;
    display: flex;
    gap: 32px;
    margin: 32px 0px;
}

.lobby_content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.player_info{
    position: relative;
    padding: 6px;
    width: 20%;
    height: 32em;
    border-radius: 12px;
    border: 1px solid rgba(85, 85, 85, 0.5);
    background-color: rgb(0,0,0, 0.5);
}
.lobby .player_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.player_info .intro{
    margin: 12px 0px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
}
.player_info .intro *{
    text-align: center;
}

.player_info .btn{
    margin: 1em;
}

.player_info .level .level_txt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.player_info .level .level_number{
    font-weight: bold;
    color: rgb(144, 255, 8);
}

.xp-bar {
    margin: 10px 0px;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #323232;
    width: 250px;
    height: 20px;
}

.xp-bar::-webkit-progress-value {
    box-shadow: 0 0 10px rgba(144, 255, 8, 0.8);
    background-color: rgba(144, 255, 8, 0.8);
}

.xp-bar::-webkit-progress-bar {
    background-color: rgba(144, 255, 8, 0.1);
}

.playBtn{
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 5em;
    margin-top: auto;
}

.playBtn a{
    font-size: 32px;
    padding: 0.75em 2.5em;
    text-shadow: 0 0 10px #ffefcc;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffefcc;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid #808080;
    transition: background 0.3s ease, text-shadow 0.3s ease;
}
.playBtn a:hover{
    text-shadow: 0 0 20px #ffefcc;
    background-color: rgba(0, 0, 0, 0.5);
}

.players_list_btn{
    transform:rotate(45deg);
    cursor: pointer;
    border-radius: 2px;
    background-color: rgba(85, 85, 85, 0.2);
    border: 1px solid #323232;
    padding: 4px;
}
.players_list_btn i{
    transform: rotate(-45deg);
}

.players_list_btn:hover{
    background-color: rgba(85, 85, 85, 0.3);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.active{
    background-color: rgba(229, 208, 75, 0.3);
    box-shadow: 0 0 1px #000000;
    /* transition: background 0.3s ease, box-shadow 0.3s ease; */
}
.active:hover{
    background-color: rgba(229, 208, 75, 0.5);
    /* box-shadow: 0 0 8px rgba(229, 208, 75, 0.5); */
    /* border: none; */
}

.players_list{
    position: absolute;
    border: 1px solid rgba(85, 85, 85, 0.5);
    background-color: rgb(0,0,0, 0.5);
    padding: 12px;
    width: 220px;
    height: 560px;
    border-radius: 12px;
    right: 30px;
    top: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.players_list h2{
    padding-bottom: 22px;
}
.online_circle{
    margin-left: 12px;
    text-shadow: 0 0 6px rgba(144, 255, 8, 0.6);
    color: rgba(144, 255, 8, 0.25);
}