*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

body{
    background-color: #141412;
}

.container{
    position: relative;
}

.container canvas{
    position: absolute;
}

#users_list{
    background-color: rgba(90, 90, 90, 0.2);
    border-radius: 0.8em;
    border: solid black 1px;
    padding: 1.2em;
    top: 1.5em;
    position: fixed;
    left: 50%;
}

#users_list li.you{
    font-weight: bold;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
