@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'MedievalSharp', cursive;
}

body{
    background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/bk2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: ratio ;
    background-color: #141412;
}

.container{
    position: relative;
}

.container canvas{
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.UI {
    position: absolute;
}
.UI .pointsTable{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -175px;
    width: 350px;
    height: 200px;
    padding: 12px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(39, 39, 39, 0.8);
    border: 1px solid #141412;
    border-radius: 12px;
    color: #fff;
    text-transform: uppercase;
}

.UI #game_status{
    font-size: 28px;
    text-shadow: 0 0 10px #ffefcc;
}

.UI .xp_gained{
    color: rgb(144, 255, 8);
    text-shadow: 0 0 5px rgba(144, 255, 8, 0.8);
}
.UI .btn{
    font-size: 20px;
    padding: 0.45em 1.5em;
    text-shadow: 0 0 10px #ffefcc;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffefcc;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid #808080;
    transition: background 0.3s ease, text-shadow 0.3s ease;
}
.UI .btn:hover{
    text-shadow: 0 0 20px #ffefcc;
    background-color: rgba(0, 0, 0, 0.5);
}

.UI .hpUI{
    top: 0px;
    left: 20px;
    margin: 10px 20px;
    padding: 10px;
}

.UI .hp_txt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.UI .hp_txt{
    font-weight: bold;
    color: rgb(144, 255, 8);
}

.hp-bar {
    margin: 10px 0px;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #323232;
    width: 250px;
    height: 20px;
}

.hp-bar::-webkit-progress-value {
    box-shadow: 0 0 10px rgba(144, 255, 8, 0.8);
    background-color: rgba(144, 255, 8, 0.8);
}

.hp-bar::-webkit-progress-bar {
    background-color: rgba(144, 255, 8, 0.1);
}

.lists{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

#queue_list{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 75vh;
    padding: 12px;
    font-size: 18px;
    border: 1px solid rgba(85, 85, 85, 0.5);
    background-color: rgb(0,0,0, 0.5);
    border-radius: 12px;
    color: #ffefcc;
    text-transform: uppercase;
}

#queue_list h3{
    margin: 10px 10px 20px 10px;
}
#queue_list ul{
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#midGame_list{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 75vh;
    padding: 12px;
    font-size: 18px;
    border: 1px solid rgba(85, 85, 85, 0.5);
    background-color: rgb(0,0,0, 0.5);
    border-radius: 12px;
    color: #ffefcc;
    text-transform: uppercase;
}

#midGame_list ul{
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
#midGame_list h3{
    margin: 10px 10px 20px 10px;
}

#users_list{
    background-color: rgba(90, 90, 90, 0.2);
    border-radius: 0.8em;
    border: solid black 1px;
    padding: 1.2em;
    top: 1.5em;
    position: fixed;
    left: 50%;
}
.status{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.status .game_status{
    color: #ffefcc;
    text-shadow: 0 0 10px #ffefcc;
}
.status .btn_queue{
    font-size: 20px;
    padding: 0.45em 1.5em;
    text-shadow: 0 0 10px #ffefcc;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffefcc;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid #808080;
    transition: background 0.3s ease, text-shadow 0.3s ease;
}
.btn_queue:hover{
    text-shadow: 0 0 20px #ffefcc;
    background-color: rgba(0, 0, 0, 0.5);
}


li.you{
    font-weight: bold;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
