h1{
    text-align: center;
    margin: 12px 0px 24px 0px;
}

.stats_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.stats_value{
    font-weight: bold;
    color: rgb(144, 255, 8);
}

.stats{
    text-align: center;
    padding: 24px;
    width: 20%;
    height: 32em;
    border-radius: 12px;
    border: 1px solid rgba(85, 85, 85, 0.5);
    background-color: rgb(0,0,0, 0.5);
}
.stats h2{
    padding-bottom: 1em;
}

.stats_info{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


