* { 
    margin: 0;
    border: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main{
    color: #22272e;
    margin: 22px;
}

footer{
    background-color: #373e47;
    color: #adbac7;
    margin-top: auto;
}

.form{
    margin: 1em 0em;
    padding: 1em;
    border-radius: 12px;
    border: solid rgba(0,0,0,0.2) 0.2px;
}

.form input{
    padding: 0.2em;
    border-radius: 4px;
    border: solid rgba(0,0,0,0.2) 0.2px;
    margin: 1em 0em;
}

.btn{
    margin: 1em 0em;
    border-radius: 4px;
    border: solid rgba(0,0,0,0.2) 0.2px;
    padding: 0.6em 1.8em;   
    text-decoration: none;
    color: #312927;
}

.btn.green{
    color: #fff;
    background-color: rgb(62, 188, 68);
}
.btn.green:hover{
    background-color: rgba(62, 188, 68, 0.8);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.alert{
    color: #630526;
}

.success{
    color: #347d39;
}

.navbar-list {
    display: flex;
    background-color: #f1f1f1;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navbar-list li:last-child {
    margin-left: auto;
}

.navbar-list li a {
    padding: 1em;
    display: inline-block;
    text-decoration: none;
    color: #000;
}

.navbar-list li a:hover {
    background-color: #ccc;
}

.navbar-list li a:active {
    background-color: #888;
}

.dropdown {
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
    color: #000;
}

.dropdown_content { 
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a{
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.container {
    margin: 1.5em;
    display: flex;
    justify-content: space-evenly;
}
  
.card {
    position: relative;
    width: 200px;
    height: 240px;
    transition: background-color 0.3s;
    cursor: pointer;
    overflow: hidden;
    background-color: #d2d2d2;
    border: solid #000 0.2px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    margin: 0;
    color: #222;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    text-align: center;
}

.card:hover{
    background-color: rgba(0, 0, 0, 0.6);
}
.card:has(input[type="radio"]:checked) {
    background-color: rgba(255, 224, 67, 0.6);
}

.plus-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}




/* CREATE CHARACTER */

.character_create h2{
    display: flex;
    justify-content: center;
}

.create_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create_container .main_info{
    display: flex;
    justify-content: space-between;
}

.class_head{
    flex: 1;
}

.class_head h3{
    display: flex;
    justify-content: center;
}

.class_list{
    display: flex;
    flex-wrap: wrap;
    
}

.class_list > div{
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
}

.general_details {
    flex: 2;
    display: flex;
}

.general_details > div {
    flex: 1;
    margin: 0 10px;
}

.class_selected{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.class_selected img{
    max-width: 500px;
    max-height: 500px;
}


.class_details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_class{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selected_character:checked ~ .select_character{
    border: solid #ffe375 3px;
    box-shadow: 0 0 10px #ffdc52;
}

.create_container .main_inputs{
    margin-top: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.select_character {
    width: 4em;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: border 0.3s;
    transition: border 0.3s, box-shadow 0.5s;
    background-color: #ffffff;
    border: solid #312927 3px;
}

.select_character img{
    z-index: 1;
    width: 200px;
    height: 200px;
    margin-top: 80px;
}

.select_character label{
    z-index: 2;
}

.select_btn{
    font-size: 20px;
    padding: 0.5em 2em;
    border: solid #222 2px;
    border-radius: 5px;
    color: #222;
    font-weight: bold;
    text-decoration: none;
}

.select_btn:hover{
    background-color: rgba(0, 0, 0, 0.155);
}


